<br>
<% if current_user == @post.author %>
<%= button_to 'Edit Post', edit_post_url, method: :get  %>
<% end %>

<section style="width: 400px; margin: auto; text-align: left;">
  <h1 style='font-size: 35px; text-decoration: underline;'><%= @post.title %></h1>
  <p style='margin-top: -25px;'><%= @post.url %></p>
  <li style='font-size: 20px;'><%= @post.content %></li>
</section>
<br>

<h3>Comments:</h3>

<% @post.comments_by_parent_id[nil].each do |comment| %>
    <li style='width: 400px; margin: auto; text-align: left; border: 1px solid black; padding-left: 10px; padding-top: 5px;''>
       <%= render("comments/comment",
                  comment: comment,
                  comments_by_parent: @post.comments_by_parent_id) %>
     </li>
<% end %>

<br>
<%= link_to 'Add Comment', new_post_comment_url(@post) %>
<br><br>
<section style="width: 400px; margin: auto; text-align: left; font-size: 13px;">
  <h3>Subs:</h3>
  <% @post.subs.each do |sub| %>
  <li><%= sub.title %></li>
  <% end %>
</section>

<br>
<br>
<br>
<br>
