

<h1><%= @post.title %></h1>


<%= @post.content %>
<br>
<%= @post.url %>


<br>
 <% @post.subs do |sub| %>
   <%= sub.title %>
   <%= sub.description %>
 <% end %>
<br>
<br>

<% if current_user == @post.author %>
  <%= button_to 'Edit Post', edit_post_url, method: :get  %>
<% end %>


<br>

<h3>Comments:</h3>


<% @post.comments.where(parent_comment_id: nil).each do |comment| %>
  <div style='border: 1px solid black; width: 400px; margin: auto;'>
    <span>---<%= comment.author.username %>:  <%= comment.body %>
      <% @post.comments.where(parent_comment_id: comment.id).each do |com| %>
         <li><%= com.author.username %>:  <%= com.body %></li>
      <% end %>
    </span>
    <%= link_to 'Show', comment_url(comment)%>
  </div>

<% end %>


<br><br><br>
<%= link_to 'Add Comment', new_post_comment_url(@post) %>
